*::after,
*::before,
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

[class$='moves-wrapper']{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

img{
    height: 100%;
}

.computer-choice,
.player-choice{
    height: 25vh;
    opacity: 1;
    transition: 2s;
}

.computer-moves-wrapper{
    bottom:auto;
    top:0;
    transform: rotate(180deg);
    .computer-move{
        height: 15vh;
        
    }
}

.choices-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .computer-choice{
        transform: rotate(180deg);
        transition: 5s;
    }

}

button{
    border: none;
    background-color: transparent;
    height: 15vh;
    img{
    }
    &:active{
        transform: scale(1.2);
    }
}
#masseges{
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 100%;
    margin:0 auto;
}
